scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/aapm
        create path (nt:unstructured) /content/dam/aapm/jcr:content
        set properties on /content/dam/aapm/jcr:content
        set cq:conf{String} to /conf/aapm
        set jcr:title{String} to \"AEM Advanced Permissions Manager\"
        end
        "
]
