scripts=[
    "
    create path (sling:OrderedFolder) /content/dam/aapm-test
    create path (nt:unstructured) /content/dam/aapm-test/jcr:content
    set properties on /content/dam/aapm-test/jcr:content
        set cq:conf{String} to /conf/valtech/aapm-examples
        set jcr:title{String} to \"AEM Advanced Permissions Manager\"
    end

    create group aapm-content with path /home/groups/aapm
    set properties on authorizable(aapm-content)/profile
        set givenName{String} to \"AAPM default content group\"
    end
    add aapm-content to group dam-users

    create group aapm-reader with path /home/groups/aapm
    set properties on authorizable(aapm-reader)/profile
        set givenName{String} to \"AAPM reader group\"
    end

    create group aapm-restricted with path /home/groups/aapm
    set properties on authorizable(aapm-restricted)/profile
        set givenName{String} to \"AAPM restricted group\"
    end

    create user atest-aapm-content with path /home/users/aapm with password secret
    add atest-aapm-content to group aapm-content
    set properties on authorizable(atest-aapm-content)/profile
        set givenName{String} to \"Test AAPM Content User\"
        set aboutMe{String} to \"Test User for aapm default content group\"
    end

    create user atest-aapm-reader with path /home/users/aapm with password secret
    add atest-aapm-reader to group aapm-content
    add atest-aapm-reader to group aapm-reader
    set properties on authorizable(atest-aapm-reader)/profile
        set givenName{String} to \"Test AAPM Reader User\"
        set aboutMe{String} to \"Test User for aapm default reader group\"
    end

    create user atest-aapm-restricted with path /home/users/aapm with password secret
    add atest-aapm-restricted to group aapm-content
    add atest-aapm-restricted to group aapm-restricted
    set properties on authorizable(atest-aapm-restricted)/profile
        set givenName{String} to \"Test AAPM Restricted User\"
        set aboutMe{String} to \"Test User for aapm default restricted group\"
    end

    "
]